*{
    margin: 0;
    font-weight: bold;

}

body{

    background: rgb(26, 244, 255);
    
}

.wholesection{
    display: flex;
    flex-direction: row;
}

.navigators{
    width: 100%;
    height: 100px;
    background: rgb(255, 255, 255);
}

.mainsection{
    width: 800px;
    height: 100%;
    background: orange;
    margin-top: 100px;
    margin-left: 300px;
    text-align: center;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
}

.navigators{
 
    background-color: rgba(255, 255, 255, 0.979);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 5px;
    text-align: center;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
}

.l1,
.n1,
.n4{
    
  padding: 5px 10px;
  text-decoration: none;
  background:transparent;
  color: rgb(8, 3, 3);
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;

}
.n1,
.n4{
    
  padding: 5px 10px;
  text-decoration: none;
  background:transparent;
  color: rgb(8, 3, 3);
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
}



img {
    max-width: 100px;
    max-height: 100px;
}


