

*{
    margin: 0;
    
  }
  
  .wholesession{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: rgb(7, 255, 197);
  }
  
  
  .navigators{
      
     
      display: flex;
      flex-direction: row;
      align-items: center;
      background: linear-gradient(to left,rgba(255, 255, 255, 0.966), rgba(255, 255, 255, 0.979));
      justify-content: space-between;
      width: 100%;
      height: 100px;
      margin-left: 5px;
      margin-top: 30px;
      margin-bottom: 15px;
      margin-right: 5px;
      text-align: center;
      box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
      
  }
  
  .home,
  .navatt,
  .navdb,
  .navhelp{
      margin-left: 50px;
      margin-right: 100px;
     
  }
  
  
  .homelogo{
         
      padding: 5px 10px;
      text-decoration: none;
     
      color: rgb(8, 3, 3);
      border-radius: 8px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: auto;
      margin-right: auto;
  }
  
  .navdb,
  .navatt,
  .navhelp,
  .search_div{
         
    padding: 5px 10px;
    text-decoration: none;
    background: linear-gradient(to left,rgba(255, 255, 255, 0.247), rgba(255, 254, 254, 0.979));
    color: rgb(8, 3, 3);
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
  }
  
  .search_div{
      margin-right: 20px;
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100px;
    max-height: 100px;
}

a {
    text-decoration: none;
    color: red;
    cursor: pointer;
}

a:hover {
    color: darkred;
}