*
 {
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    
  }
body{
    margin: 0;
    padding: 0;
  }
  

img {
    max-width: 100px;
    max-height: 100px;
}



.container{
    border-radius: 18px;
    width: 500px;
    height: 500px;
    box-shadow: 5px 10px 50px 12px rgb(0, 0, 0);
    background: linear-gradient(to left,rgb(77, 231, 11), rgba(213, 19, 142, 0.932));
    margin-top: 10%;
    margin-left: 35%;
    color: white;
}
h1{
    padding: 12px 47px;
    text-decoration: none;
    border-radius: 18px;
    background: linear-gradient(to right,rgb(77, 231, 11), rgba(213, 19, 142, 0.932));
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;

}


.form1{
    height: 300px;
   
    background-color:transparent;
    margin-left: 15%;
}

#email,
#new_pass,
#confirm_pass,
#resetbtn{
    margin-top: 50px;  
    font-weight: bold;
}

.backtohome{
    padding: 12px 47px;
    text-decoration: none;
    border-radius: 8px;
    background-color:transparent;
    text-decoration: none;

    text-align: center;
    color: white;
    
}

#lemail,
#lpassword,
#lcpassword{
    font-weight: bold;
}
