


.teachbackground{
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    
}

.wholesection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.todayinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


.containernav{
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 5px;
    text-align: center;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
    
}
 
.containertoday{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 19);
    color: black;
}




.containertoday{

    padding: 30px 350px;
    height: 350px;
    width: 300px;
}





#adt1,
#adt2,
#adt3,
#adt4,
#adt5{
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  
  box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
}


.todaytimetable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.timetable-item {
    border-radius: 30px;
   
    padding: 30px;
    margin-top: 100px;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 30px;
   
    height: 200px;
    width: 200px;
    text-align: center;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
   
}
