/*--------------------------------------------------------------
   style for log in page
--------------------------------------------------------------*/


*{
    margin: 0;
    padding: 0;
    color: rgb(224, 213, 220);
    font-family: sans-serif;
}
.login{
    height: 100vh;
    background: url(../../imgs/home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lgn{
    margin-top: 20px;
    margin-bottom: 10px;
}

.container{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 50px 12px rgb(13, 13, 15);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

input{
    padding: 10px 36px;
    margin: 5px;
    width: 210px;
}


#login{
    padding: 12px 10px;
    background: linear-gradient(to left,rgba(15, 75, 124, 0.014), rgb(15, 11, 15));
    color: white;
    border: none;
    border-radius: 8px;
}

#pass{
    margin-bottom: 10px;
}



.sgnUp{
    display: flex;
}

#member{
    margin-right: 5px;
}

#sgn_now{
    text-decoration: none;
    color: rgb(43, 11, 182);
}
.backtohomeforl{
    padding: 10px 160px;
    text-decoration: none;
    background: linear-gradient(to left,rgba(15, 75, 124, 0), rgb(15, 11, 15));
    color: white;
    border-radius: 8px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}


/*------------------------------------------------------------------------------
      style for sign up
------------------------------------------------------------------------------*/      



.form1{
    text-align: center;
    margin-top: 20px;
}

.containerforsignup{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 50px 12px rgb(5, 5, 7);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.signup{
    background: url(../../imgs/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
}

#sf{
    text-align: center;
    margin-bottom: 20px;
}

.sign_btn{
    text-decoration: none;
    background: linear-gradient(to left,rgba(15, 75, 124, 0), rgb(15, 11, 15));
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    padding: 10px 10px;
    text-size-adjust: 100;
    }

.backtohomefors{
        padding: 10px 150px;
        text-decoration: none;
        background: linear-gradient(to left,rgba(15, 75, 124, 0), rgb(15, 11, 15));
        color: white;
        border-radius: 8px;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
}
    
#signup,
#fpass{
    padding: 12px 47px;
    text-decoration: none;
    border-radius: 8px;
    background: linear-gradient(to left,rgba(15, 75, 124, 0), rgb(5, 4, 5));
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#signup{
    border: none;
}
























