*{
    margin: 0;
    font-weight: bold;
  }
  

.wholesession{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #05ffd5;
    font-weight: bold;
    height: 100%;
}



img {
    max-width: 100px;
    max-height: 100px;
}



.navigators{
 
    background-color: rgba(255, 255, 255, 0.979);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 5px;
    text-align: center;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
}


.dashboard{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.979);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 100%;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 5px;
    text-align: center;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
    align-items: center;
}


.info{
    border-radius: 30px;
    background: #05ffd595;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 500px;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 5px;
    text-align: center;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
  
}

.timeatt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dsa{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.979);
    text-align: center;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);

}

.dsa{
    width: 900px;
    height: 100%;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 50px;
}

.tta,
.att{
    
    background-color: rgba(255, 255, 255, 0.979);
    text-align: center;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
    width: 800px;
    height: 100%;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
}


.l1,
.n1,
.n2,
.n3,
.n4,
.n5{
    
  padding: 5px 10px;
  text-decoration: none;
  background:transparent;
  color: rgb(8, 3, 3);
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;

}
.n1,
.n2,
.n3,
.n4,
.n5{
    
  padding: 5px 10px;
  text-decoration: none;
  background:transparent;
  color: rgb(8, 3, 3);
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
}
table{
    margin-left: 300px;
}


.teachers,
.nodept{
    border-bottom-style: double;
    margin-left: 20px;
    margin-right: 20px;
}

.addsubanddept{
    width: 200px;
    height: 200px;
    border-radius: 50px 50px 200px 200px;
    background: linear-gradient(to bottom,rgba(8, 255, 247, 0.833), rgb(245, 245, 8));
    color: rgb(8, 3, 3);
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
   
}

.displaydeptanddept{
    width: 200px;
    height: 200px;
    border-radius: 50px 50px 200px 200px;
    background: linear-gradient(to bottom,rgba(8, 255, 247, 0.833), rgb(245, 245, 8));  
    color: rgb(8, 3, 3);
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
        
   
}

.complete{
    display: flex;
    flex-direction: row;
}


.mainsection{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    height: 500px;
    background: transparent;
    margin-right: 300px;
    border-radius: 100px;
  
}