
/*----------------------------------------------------
               timetable assign 
----------------------------------------------------*/
*{
  margin: 0;
  font-weight: bold;
}

.wholesessionassign{
    background-image: url(../../imgs/home.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
}


.navigatorsassign{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
    background: linear-gradient(to right,rgb(255, 255, 255), rgb(163, 97, 169));
 
}


#adt2,
#adt3,
#adt4{
  color: white;
}


.l1{
    
  padding: 5px 10px;
  text-decoration: none;
  color: rgb(8, 3, 3);
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
}




.n1,
.n2,
.n3,
.n4,
.n5{
    
  padding: 5px 10px;
  text-decoration: none;
  background: linear-gradient(to left,rgba(243, 238, 239, 0.349), rgba(14, 3, 10, 0.171));
  color: rgb(8, 3, 3);
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
}

.attendance{
    display: flex;
    flex-direction: column;
    border-radius: 60px;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
    background: transparent;
    align-items: center;
    color: rgb(3, 1, 0);
    justify-content: space-between;
    width: 1000px;
    height: 100%;
    margin-left: 5px;
   
    margin-right: 5px;
    text-align: center;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
}


.details{
    width: 100%;
    height: 100%;
    background-color: rgba(190, 2, 2, 0.007);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
    
}

.tname,
.tdept,
.tsub{
      
  padding: 10px 5px;
  text-decoration: none;
  background: transparent;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20%;
  margin-right: 20%;
}

.userdetails{
  padding: 10px 5px;
  box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
  background: white;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
 
}


.month{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
    background: linear-gradient(to left,rgba(162, 45, 216, 0.158), rgb(59, 1, 65));
 
  } 



.marking{
    width: 100%;
    height: 100px;
    background-color: rgba(32, 183, 194, 0);
}


/*----------------------------------------------------
               calender
----------------------------------------------------*/

  .wrapper{
    width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  }
  .wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
  }
  header .icons{
    display: flex;
  }
  header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  header .icons span:hover{
    background: #f2f2f2;
  }
  header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }
  .calendar{
    padding: 20px;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: #9B59B6;
  }
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }





  /* Calendar styling */




  
.calendar {
    text-align: center;
    width: 90%;
    margin: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

#prevMonth, #nextMonth {
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 5px;
    font-size: 18px;
    color: rgb(9, 1, 78);
    outline: none;
    background: linear-gradient(to bottom,rgba(224, 5, 5, 0.514), rgb(255, 102, 0));
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
  
    
}





#monthYear {
    font-size: 20px;
    font-weight: bold;
}


#prevMonth, #nextMonth, #monthYear{
  margin-bottom: 50px;
}


table {
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    padding: 20px;
    border: 3px solid #0a0202;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right,rgba(255, 255, 255, 0.219), rgb(122, 4, 133));
    
}

th {
    background-color: #f2f2f2;
     
}

.date, .day, .month, .year {
  
    font-weight: bold;

   
}

.dots {
    display: flex;
    justify-content: center;

}

.dot {
    border-radius: 10px;
    width: 15px;
    height: 15px;
    
    background: linear-gradient(to left,rgba(226, 2, 47, 0), rgb(21, 4, 83));
    border: 1px solid #17e70f;
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
}






/* Add your calendar styling here */

/* Modal */
.modal {
    border-radius: 10px;
    display: none;
    position: fixed;
    z-index: 1;
    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 40%;
    background: linear-gradient(to top,rgba(224, 5, 5, 0.514), rgb(255, 102, 0));
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
  
}



.selected-date {
    font-size: 18px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    color: black;
    text-align: center;
  

}

.dotdetails{
    width: 100%;
    height: 100%;
    color: rgb(248, 242, 242);
    box-shadow: 5px 10px 50px 12px rgb(2, 2, 7);
    background: linear-gradient(to right,rgba(162, 45, 216, 0.822), rgba(59, 1, 65, 0.952));
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}


input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}




.close {
  width: 100px;
  height: 30px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.close:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.close:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}




button#popupSave {
  width: 100px;
  height: 30px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button#popupSave:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button#popupSave:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}








.iyear,
.idept,
.isub,
.isave,
.iclose{
    
   color: rgb(250, 249, 249);
}


